@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Raleway:wght@400;600;700;900&display=swap);
@charset "UTF-8";
*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  background: white;
  font-family: "Raleway", -apple-system, sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: "header header header" "sidenav content marketing" "footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.marketing {
  grid-area: marketing;
}

.footer {
  grid-area: footer;
}

.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
}
.header a img {
  max-width: clamp(5rem, 50%, 10vw);
}
.header .navbar ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.header .navbar ul li a {
  display: block;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: clamp(8px, 1.125em, 2vw);
  transition: 0.5s;
}
.header .navbar ul li a:hover {
  text-decoration: underline;
  background: rgba(0, 0, 0, 0.3);
}
.header .navbar ul li + li {
  margin-left: 10px;
}

.sidebar {
  background: #ececec;
}
.sidebar ul li a {
  display: block;
  min-width: 3.75em;
  max-width: 8rem;
  margin: 0 auto 30px auto;
  background: white;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.2s ease-in-out;
}
.sidebar ul li a:hover {
  background: #b07df8;
}
.sidebar ul li:first-child {
  margin-top: 20px;
}
.sidebar ul li a img {
  max-width: 100%;
}

.content {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.content .title {
  color: #b07dfb;
  font-size: clamp(16px, 2em, 2.5vw);
}
.content .title span {
  font-size: clamp(12px, 1.2em, 1.5vw);
  font-style: italic;
}
.content .features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: flex-start;
}
.content .features section {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  height: auto;
  color: #fff;
  padding: 10px 0 0 0;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  display: grid;
  width: 50%;
  grid-template-areas: "first" "second";
  justify-items: center;
  align-items: center;
  border-radius: 2px;
}
.content .features .peso {
  grid-column: first;
  color: #c6a0ff;
  font-size: clamp(14px, 2em, 2vw);
}
.content .features .kg {
  grid-row: second;
  background: white;
  color: #8844ee;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: clamp(12px, 1.5em, 1.5vw);
  margin-top: 5px;
}
.content .features .idade {
  grid-column: first;
  color: #c6a0ff;
  font-size: clamp(14px, 2em, 2vw);
}
.content .features .age {
  grid-column: second;
  background: white;
  color: #8844ee;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: clamp(12px, 1.5em, 1.5vw);
  margin-top: 5px;
}
.content .column-wide {
  grid-column: 1/-1;
  width: 100%;
}
.content .history {
  color: #8844ee;
  font-size: clamp(10px, 1em, 1.5vw);
  font-weight: 200;
  line-height: 1.5em;
}
.content .content-image-wolf1 {
  grid-row: span 2;
  align-self: end;
}
.content .content-image-wolf2 {
  align-self: end;
}
.content img {
  width: 100%;
}
.content p {
  font-size: clamp(8px, 1.2em, 1vw);
  line-height: 1.6em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.content .citation {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 8px;
  align-self: start;
}
.content .citation p {
  font-size: clamp(14px, 1.8em, 2vw);
  color: white;
  font-family: "Raleway", -apple-system, sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  max-width: 80%;
  margin: 0 auto;
}
.content .animal-data {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 8px;
}
.content .animal-data li {
  font-size: clamp(12px, 1.5em, 1.5vw);
  color: white;
  font-family: "Raleway", -apple-system, sans-serif;
  text-align: left;
  font-weight: 200;
  padding: 20px;
}
.content .animal-data li + li {
  border-top: 2px solid #a970ff;
}
.content .animal-informations p + p {
  margin-top: 20px;
}

.marketing {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background: #ececec;
  display: grid;
  align-content: start;
  gap: 30px;
}
.marketing .marketing-item {
  padding: 20px 1.875rem 0 1.875rem;
  cursor: pointer;
}
.marketing .marketing-item img {
  display: block;
  max-width: 100%;
  border-radius: 0.3125rem;
}

.footer {
  width: 100%;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  text-align: center;
  font-family: "Raleway", -apple-system, sans-serif;
  font-weight: 700;
  font-size: clamp(10px, 1em, 2vw);
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-areas: "header header header" "sidenav content content" "sidenav marketing marketing" "footer footer footer";
  }

  .marketing {
    grid-template-columns: 2;
  }
}
@media screen and (max-width: 760px) {
  .sidebar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
  }

  .sidebar::after {
    content: "→";
    position: absolute;
    z-index: 1;
    top: 0;
    animation: arrow-sidebar 1s ease-in-out 0s infinite alternate;
  }

  .sidebar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 60px;
    margin: 0;
  }
  .sidebar ul li {
    padding: 20px 10px;
  }
  .sidebar ul li:first-child {
    margin: 0;
  }
  .sidebar ul li a {
    margin: 0;
  }

  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas: "header" "sidenav" "content" "marketing" "footer";
  }
}
@keyframes arrow-sidebar {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    max-width: 56.25rem;
    padding: 30px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .marketing {
    grid-template-columns: auto;
  }
  .marketing .marketing-item {
    padding: 0 30px;
  }
}
