body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin containerAnimation {
  width: 4rem;
  height: 4rem;
}


.loading {
  background: rgba(0, 50, 250, 0);
  position: relative;
  animation-name: rotate;
  @include containerAnimation;

  &, &::before, &::after {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0.2, 0.1, 0.2);
  }

  &::before, &::after {
    content: "";
    position: absolute;
    @include containerAnimation;
  }

  &::before {
    background: rgba(200, 250, 100, 0);
    animation-name: ring;
  }

  &::after {
    background: rgba(250, 0, 200, 0);
    animation-name: ring2;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    -webkit-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    -moz-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    -ms-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    -o-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    box-shadow: inset 0.8em 0 0 rgba(252, 150, 0, 0.5),
    inset 0 0.8 0 rgba(252, 150, 0, 0.5),
    inset -0.8em 0 0 rgba(0, 255, 0, 0.5),
    inset 0 -0.8 0 rgba(0, 150, 255, 0.5);
  }

  85%, 100% {
    transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    -webkit-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    -moz-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    -ms-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    -o-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
    inset 0 0 0 rgba(252, 150, 0, 0),
    inset 0 0 0 rgba(0, 255, 0, 0),
    inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@keyframes ring {
  0% {
    transform: scaleX(0.1) scaleY(0.5);
    -webkit-transform: scaleX(0.1) scaleY(0.5);
    -moz-transform: scaleX(0.1) scaleY(0.5);
    -ms-transform: scaleX(0.1) scaleY(0.5);
    -o-transform: scaleX(0.1) scaleY(0.5);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5),
    inset 0 0.8em 0 rgba(252, 150, 0, 0.5),
    inset 0 -0.8em 0 rgba(0, 255, 0, 0.5),
    inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  100% {
    transform: scaleX(2) scaleY(2.1);
    -webkit-transform: scaleX(2) scaleY(2.1);
    -moz-transform: scaleX(2) scaleY(2.1);
    -ms-transform: scaleX(2) scaleY(2.1);
    -o-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
    inset 0 0 0 rgba(252, 150, 0, 0),
    inset 0 0 0 rgba(0, 255, 0, 0),
    inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@keyframes ring2 {
  0% {
    transform: scaleX(0.5) scaleY(0.1);
    -webkit-transform: scaleX(0.5) scaleY(0.1);
    -moz-transform: scaleX(0.5) scaleY(0.1);
    -ms-transform: scaleX(0.5) scaleY(0.1);
    -o-transform: scaleX(0.5) scaleY(0.1);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5),
    inset 0 0.8em 0 rgba(252, 150, 0, 0.5),
    inset 0 -0.8em 0 rgba(0, 255, 0, 0.5),
    inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
}
  65%, 100% {
    transform: scaleX(2) scaleY(2.1);
    -webkit-transform: scaleX(2) scaleY(2.1);
    -moz-transform: scaleX(2) scaleY(2.1);
    -ms-transform: scaleX(2) scaleY(2.1);
    -o-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0),
    inset 0 0 0 rgba(252, 150, 0, 0),
    inset 0 0 0 rgba(0, 255, 0, 0),
    inset 0 0 0 rgba(0, 150, 255, 0);
  }
}
