/* Reset css */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.containermd {
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
}
.bg-black {
  color: "#130400";
}
.background-image {
  background-image: linear-gradient(to right, #ce2e3c, #da6709);
}
.white-global-color {
  color: #fff;
}
.border-radius {
  border-radius: 7px;
}
.header {
  text-align: unset;
}
.logo {
  width: 56px;
  height: 56px;
  float: left;
  background: url(../img/logo-mobile.png) center center/56px no-repeat;
  font-size: 0;
}
.btn-menu {
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  border-radius: 56px;
  cursor: pointer;
}

/* Menu */
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
}
.btn-close {
  font-size: 1.5em;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}
.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}
.menu li {
  padding: 1.5%;
}
.menu li a {
  font-size: 2em;
  padding: 1.5% 3%;
}
.menu li a:hover {
  border: 1px solid #da6709;
}

/*banner*/
.banner {
  background: url(../img/bg.jpg) no-repeat fixed;
}
.title {
  width: 100%;
}
.title h2 {
  font-size: 2.5em;
  font-weight: 700;
}
.title h3 {
  font-size: 1.5em;
}
.buttons {
  width: 100%;
  padding: 1.5em;
}
.btn-cadastrar {
  background-color: #fff;
}
.btn {
  width: 100%;
  font-size: 1.5em;
  text-align: left;
  cursor: pointer;
  padding: 3%;
  border-radius: 10px;
  margin-top: 2vh;
}
.buttons i {
  float: right;
}

.btn-sobre {
  margin-top: 2%;
  background-color: #130400;
}
/* servicos */
.servico {
  width: 100%;
  background-color: #fff;
  text-align: left;
  margin-bottom: 3%;
}
.servico img {
  border-radius: 7px 7px 0 0;
}
.inner {
  padding: 7%;
}
.inner a {
  font-size: 1.5em;
  font-weight: 700;
}
.inner h4 {
  font-size: 1.2em;
  margin-top: 2%;
}
.inner p {
  margin-top: 6%;
  line-height: 1.5em;
}
/* newsletter */
.newsletter {
  background-color: #130400;
}
.newsletter h2 {
  font-size: 1.5em;
  font-weight: 700;
}
.newsletter form {
  margin-top: 2%;
}
.newsletter input {
  width: 100%;
  padding: 3%;
  background-color: #130400;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.newsletter button {
  width: 100%;
  padding: 3%;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #fff;
  margin-top: 2%;
}
/*rodape*/
.social-icons a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 3%;
}
.social-icons a:last-child {
  /* - o último elemento */
  margin-right: 0;
}
.social-icons a:hover {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 10);
  margin-right: 3%;
}
.container {
  margin-top: 5%;
}
.container .copyright {
  color: rgba(255, 255, 255, 10);
}

/* ANIMATIONS */
.menu li a:hover {
  border: none;
}
.menu li a:hover {
  animation-duration: 9s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    color: #da6709;
  }

  to {
    border: none;
  }
}

/*
- Media types:
  * screen:
    ? Para monitores ou dispositivos com telas coloridas e resolução adequada
  * print:
    ? Para impressoras. Muito usado para dar uma versão de impresão do site
*/
@media print {
  .title h2 {
    font-size: 2.5em;
    color: red;
    font-weight: 700;
  }
  .title h3 {
    font-size: 1.5em;
    color: blue;
  }
}
/* SMALL DEVICES - SMARTPHONES FIRST */
@media screen and (min-width: 480px) {
  .logo {
    width: 214px;
    background: url(../img/logo.png) center center/214px no-repeat;
  }
  .btn {
    font-size: 1.5rem;
    width: 50%;
    padding: 14px;
  }
  .newsletter button {
    width: 50%;
    padding: 10px;
  }
  .newsletter input {
    width: 50%;
    padding: 10px;
  }
  .newsletter h2 {
    font-size: 1rem;
  }
  .newsletter h3 {
    font-size: 0.5rem;
  }
}
/* SMALL DEVICES - Tablets  */
@media screen and (min-width: 768px) {
  .servico {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  .servico:nth-child(2) {
    margin-right: 0;
  }
  .newsletter h2 h3 {
    font-size: 2rem;
  }
  .newsletter input {
    width: 70%;
    padding: 2%;
    float: left;
    margin-right: 1%;
  }
  .newsletter button {
    width: 29%;
    padding: 2%;
    float: right;
    margin-top: 0;
  }
  .btn {
    width: 60%;
    padding: 2vh;
    margin-top: 2vh;
    font-size: 1rem;
  }
  .banner h2 {
    font-size: 2.2rem;
  }
}
/* MEDIUM DEVICES - Tablets DESKTOPS */
@media screen and (min-width: 960px) {
  .title {
    width: 70%;
    float: left;
    text-align: left;
  }
  .buttons {
    width: 30%;
    float: right;
    margin-top: 0;
  }
  .servico {
    width: 32%;
  }
  .servico:nth-child(2) {
    margin-right: 2%;
  }
  .servico:nth-child(3) {
    margin-right: 0;
  }
  .newsletter input {
    width: 40%;
    margin-left: 15%;
    padding: 1.1%;
  }
  .newsletter:nth-child(1) {
    margin: 0;
  }
  .newsletter button {
    width: 25%;
    margin-right: 19%;
    padding: 1.1%;
  }
}
/* ALT DEVICES - Tablets DESKTOPS */
@media screen and (min-width: 1280px) {
  .btn-menu {
    display: none;
  }
  .btn-close {
    display: none;
  }
  .menu {
    width: auto;
    height: 56px;
    line-height: 56px;
    float: right;
    display: block !important;
    position: static;
    background-color: #f5f5f5;
  }
  .menu li {
    padding: 0;
    float: left;
  }
  .menu li a {
    color: #130400;
    padding: 15px;
    font-size: 1rem;
  }
  .banner {
    background-size: contain;
  }
  .newsletter h2 {
    font-size: 1rem;
  }
  .newsletter h3 {
    font-size: 0.8rem;
  }
  .newsletter input {
    font-size: 1.2rem;
  }
  .newsletter button {
    font-size: 1rem;
  }
  .social-icons {
    font-size: 1rem;
  }
  .container {
    margin-top: 3vh;
    font-size: 1rem;
  }
  .servico p {
    font-size: 1rem;
  }
  .servico h4 {
    font-size: 1rem;
  }
  .servico a {
    font-size: 1rem;
  }
  .btn-cadastrar {
    font-size: 1rem;
  }
}
